<section class="hero">
  <div class="container wider">
    <div class="hero-container">

      <h1 class="hero-header">
        Discover the joy of learning
        <span class="hero-header-accent">English</span> with us!
      </h1>

      <button class="btn hero-button" type="button" onclick="document.getElementById('hero-link').click();">
        Leave an application
      </button>

      <div class="hero-link-container">
        <a class="hero-link" href="#footer">
          <svg width="16" height="16">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>

      <a id="hero-link" href="#leave-an-application"></a>

    </div>
  </div>
</section>