<section id="leave-an-application" class="leave-an-application">
  <div class="container">
    <div class="intro-wrapper">
      <h2>Leave an <span class="title-subtext-background">application</span></h2>
      <p class="subtitle">Please use the form below to contact us. Enter your name, email, and message and we'll get back to
        you shortly.</p>
    </div>
    <div class="section-items-wrapper">
      <div class="side-image-container">
        <img src="img/leave-application/girl-learning@1x.png"
             srcset="img/leave-application/girl-learning@1x.png 1x, img/leave-application/girl-learning@2x.png 2x"
             alt="Girl Studying"
             width="492"
             height="392"
             class="girl-learning">
        <div class="side-image-content">
          <h3 class="side-image-content-title">0</h3>
          <p class="side-image-content-text">of our online English language lessons! This journey has been full of
            discovery, growth and unforgettable
            moments, and we are happy to share this joyful event with you.</p>
        </div>
      </div>
      <div class="form-section">
        <form method="post" class="application-form" autocomplete="on">
          <fieldset class="fieldset">
            <div class="form-group">
              <input type="text" id="name" name="name" placeholder="Name">
              <label for="name">Name</label>
            </div>
            <div class="form-group">
              <input type="email" id="email" name="email" placeholder="Email">
              <label for="email">Email</label>
            </div>
            <div class="form-group">
              <input type="tel" id="phone" name="phone" placeholder="Phone">
              <label for="phone">Phone</label>
            </div>
            <div class="form-group comment">
              <textarea id="comment" name="comment" placeholder="Comment"></textarea>
              <label for="comment">Comment</label>
            </div>
            <div class="radio-group">
              <h3 class="form-group-title">Choose a teacher</h3>

              <div class="radio-group-items">
                <div class="radio-group-item">
                  <input
                    class="custom-checkbox visually-hidden"
                    id="maria"
                    type="radio"
                    name="teacher"
                    checked>
                  <label for="maria">
                    Maria
                  </label>
                </div>
                <div class="radio-group-item">
                  <input
                    class="custom-checkbox visually-hidden"
                    type="radio"
                    id="artem"
                    name="teacher">
                  <label for="artem">
                    Artem
                  </label>
                </div>
                <div class="radio-group-item">
                  <input
                    class="custom-checkbox visually-hidden"
                    id="ilona"
                    type="radio"
                    name="teacher">
                  <label for="ilona">
                    Ilona
                  </label>
                </div>
                <div class="radio-group-item">
                  <input
                    class="custom-checkbox visually-hidden"
                    type="radio"
                    id="volodymyr"
                    name="teacher">
                  <label for="volodymyr">
                    Volodymyr
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <button class="action send-application">Send</button>
          <p class="notice">By clicking on “Send” button, you agree to our Privacy Policy,
            and allow Promodo to use this information for marketing purposes.
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
