<section id="our-lessons" class="ourlessons">
  <div class="ourlessons-container container">
    <h2>Our <span class="title-subtext-background">lessons</span></h2>
    <div class="ourlessons-subtitle-wrapper">
      <p class="subtitle ourlessons-subtitle">
        Our lessons are carefully structured and interactive, designed to
        promote rapid language acquisition through practical tasks and
        real-world scenarios
      </p>
    </div>

    <ul class="ourlessons-list">
      <li class="ourlessons-list-item">
        <p class="ourlessons-list-item-header">Practice</p>
        <p class="ourlessons-list-item-price">40$ / month</p>
        <div class="ourlessons-desc-wrapper">
          <p class="ourlessons-list-item-desc">
            This plan offers an opportunity for learners to engage in
            collaborative language exercises and group activities, boosting
            their conversational skills and confidence in using English.
          </p>
        </div>
        <button
          type="button"
          class="btn ourlessons-list-item-button"
          onclick="document.getElementById('hero-link').click()"
        >
          Leave an application
        </button>
      </li>
      <li class="ourlessons-list-item">
        <p class="ourlessons-list-item-header">Standard</p>
        <p class="ourlessons-list-item-price">70$ / month</p>
        <div class="ourlessons-desc-wrapper">
          <p class="ourlessons-list-item-desc">
            Our standard package provides a balanced learning approach that
            covers all key areas of English language - reading, writing,
            listening, and speaking. It is a set of basic knowledge and skills.
          </p>
        </div>
        <button
          type="button"
          class="btn ourlessons-list-item-button"
          onclick="document.getElementById('hero-link').click()"
        >
          Leave an application
        </button>
      </li>
      <li class="ourlessons-list-item">
        <p class="ourlessons-list-item-header">Individual</p>
        <p class="ourlessons-list-item-price">99$ / month</p>
        <div class="ourlessons-desc-wrapper">
          <p class="ourlessons-list-item-desc">
            We offer a tailored learning experience with individualized
            instruction that focuses on a learner's specific language goals and
            challenges, offering personal feedback.
          </p>
        </div>
        <button
          type="button"
          class="btn ourlessons-list-item-button"
          onclick="document.getElementById('hero-link').click()"
        >
          Leave an application
        </button>
      </li>
    </ul>
  </div>
</section>
