<section id="our-teachers" class="our-teachers">
  <div class="container">
    <h2>Meet our <span class="title-subtext-background">teachers</span></h2>
    <p class="subtitle">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="our-teachers-list">
      <li class="our-teachers-card">
        <img
          src="/img/our-teachers/teacher_1@1x.jpg"
          srcset="
            /img/our-teachers/teacher_1@1x.jpg 1x,
            /img/our-teachers/teacher_1@2x.jpg 2x
          "
          alt="Maria"
          width="150"
          height="150"
          class="our-teachers-card-avatar-image"
        >
        <p class="our-teachers-card-name">Maria</p>
        <p class="our-teachers-card-description">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="our-teachers-card">
        <img
          src="/img/our-teachers/teacher_2@1x.jpg"
          srcset="
            /img/our-teachers/teacher_2@1x.jpg 1x,
            /img/our-teachers/teacher_2@2x.jpg 2x
          "
          alt="Artem"
          width="150"
          height="150"
          class="our-teachers-card-avatar-image"
        >
        <p class="our-teachers-card-name">Artem</p>
        <p class="our-teachers-card-description">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="our-teachers-card">
        <img
          src="/img/our-teachers/teacher_3@1x.jpg"
          srcset="
            /img/our-teachers/teacher_3@1x.jpg 1x,
            /img/our-teachers/teacher_3@2x.jpg 2x
          "
          alt="Ilona"
          width="150"
          height="150"
          class="our-teachers-card-avatar-image"
        >
        <p class="our-teachers-card-name">Ilona</p>
        <p class="our-teachers-card-description">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="our-teachers-card">
        <img
          src="/img/our-teachers/teacher_4@1x.jpg"
          srcset="
            /img/our-teachers/teacher_4@1x.jpg 1x,
            /img/our-teachers/teacher_4@2x.jpg 2x
          "
          alt="Volodymyr"
          width="150"
          height="150"
          class="our-teachers-card-avatar-image"
        >
        <p class="our-teachers-card-name">Volodymyr</p>
        <p class="our-teachers-card-description">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
