<section id="students-say" class="students-say">
  <div class="container">
    <div class="intro-wrapper">
      <h2>What our <span class="title-subtext-background">students</span> say</h2>
      <p class="subtitle"> Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact</p>
    </div>
    <div class="slider-container swiper">
      <ul class="students-list swiper-wrapper">
        <li class="student swiper-slide">
          <div class="student-image-title">
            <img
              src="/img/students/anna@1x.png"
              srcset="/img/students/anna@1x.png 1x, /img/students/anna@2x.png 2x"
              alt="Student Anna"
              width="50"
              height="50"
              class="student-image">
            <div class="student-short-description">
              <h3 class="student-name">Anna</h3>
              <p class="student-title">Student</p>
            </div>
          </div>
          <p class="student-item">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="student swiper-slide">
          <div class="student-image-title">
            <img
              src="/img/students/mykhailo@1x.png"
              srcset="/img/students/mykhailo@1x.png 1x, /img/students/mykhailo@2x.png 2x"
              alt="Student Mikhailo"
              width="50"
              height="50"
              class="student-image">
            <div class="student-short-description">
              <h3 class="student-name">Mykhailo</h3>
              <p class="student-title">Student</p>
            </div>
          </div>
          <p class="student-item">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="student swiper-slide">
          <div class="student-image-title">
            <img
              src="/img/students/victoria@1x.png"
              srcset="/img/students/victoria@1x.png 1x, /img/students/victoria@2x.png 2x"
              alt="Student Victoria"
              width="50"
              height="50"
              class="student-image">
            <div class="student-short-description">
              <h3 class="student-name">Victoria</h3>
              <p class="student-title">Student</p>
            </div>
          </div>
          <p class="student-item">
            I love the dynamic and interactive teaching methods used here. It's a
            great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
