.hide {
  display: none;
}

:root {
  --cl-dark: #121417;
  --cl-dark-rgb: 18, 20, 23;
  --cl-dark-green: #4dc274;
  --cl-dark-green-hover: #38ae5f;
  --cl-light-green: #d4fde1;
  --cl-light-green-accent: #bee8cc;
  --cl-grey: #f3f5f6;
  --cl-white: #ffffff;
  --cl-white-rgb: 255, 255, 255;
  --font-family: 'Manrope', sans-serif;
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;
  --cl-hover-primary: #38ae5f;
  --cl-light-green-secondary: #bee8cc;
  --font-size-base: 14px;
  --line-height-base: 1.71429;
  --indent-1: 4px;
  --indent-2: 8px;
  --indent-3: 12px;
  --indent-4: 16px;
  --indent-5: 20px;
  --indent-6: 24px;
  --indent-7: 28px;
  --indent-8: 32px;
  --indent-9: 36px;
  --indent-10: 40px;
  --indent-11: 44px;
  --indent-12: 48px;
  --indent-16: 64px;
  --indent-18: 72px;
  --indent-32: 128px;
  /* Transitions */
  --base-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fast-trns: 300ms ease;

  scroll-behavior: smooth;
}

body {
  color: var(--cl-dark);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-style: normal;
  line-height: var(--line-height-base);
  min-width: 320px;
}

p {
  color: rgba(var(--cl-dark-rgb), 0.5);
}

h2 {
  color: var(--cl-dark);
  font-size: 32px;
  font-weight: var(--weight-bold);
  letter-spacing: -0.02em;
  line-height: 1.125;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 1.2;
  }
}

.title-subtext-background {
  display: inline-block;
  position: relative;
}

.title-subtext-background:before {
  background-color: var(--cl-light-green-secondary);
  border-radius: 8px;
  bottom: -3px;
  content: '';
  display: block;
  height: 20px;
  left: -2px;
  position: absolute;
  right: 0;
  transition: height var(--base-transition);
  width: calc(100% + 6px);
  z-index: -1;
}

.title-subtext-background:hover:before {
  height: 34px;
}

.subtitle {
  color: rgba(var(--cl-dark-rgb), 0.5);
  font-size: 18px;
  font-weight: var(--weight-regular);
  line-height: 1.66667;
  margin-bottom: var(--indent-16);
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .subtitle {
    font-size: 14px;
    line-height: 1.71428;
    margin-bottom: var(--indent-10);
  }
}

button {
  background-color: var(--cl-dark-green);
  border-radius: 12px;
  border: none;
  color: var(--cl-white);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--weight-bold);
  height: 52px;
  line-height: 1.7;
  min-width: 256px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  button {
    font-size: 18px;
    height: 60px;
    line-height: 1.5;
  }

  .title-subtext-background:hover:before {
    height: 44px;
  }
}

@media only screen and (hover: hover) {
  button {
    transition: background-color var(--base-transition);
  }

  button:hover,
  button:focus {
    background-color: var(--cl-hover-primary);
  }

  button.outline:hover,
  button.outline:focus {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
}
