.container {
  max-width: 375px;
  margin: 0 auto 80px;
  padding: 0 var(--indent-5);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: var(--indent-8);
    margin-bottom: 100px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-inline: var(--indent-32);
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .container.wider {
    padding-inline: var(--indent-16);
  }
}
