.ourlessons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourlessons-subtitle-wrapper {
  margin-bottom: var(--indent-10);
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .ourlessons-subtitle-wrapper {
    max-width: 665px;
    margin-bottom: var(--indent-16);
  }
}

.ourlessons-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--indent-5);
}

@media only screen and (min-width: 768px) {
  .ourlessons-list {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--indent-8);
  }
}

.ourlessons-list-item {
  max-width: 336px;
  margin-right: -1px;
  padding: var(--indent-10) var(--indent-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--cl-dark-green);
  background: var(--cl-white);
}

@media only screen and (min-width: 768px) {
  .ourlessons-list-item {
    width: 336px;
    margin-right: 0;
    border-radius: 30px;
    padding: var(--indent-8) var(--indent-4);
  }
}

@media only screen and (min-width: 1280px) {
  .ourlessons-list-item {
    width: 320px;
    padding: var(--indent-8) var(--indent-8);
  }
}

.ourlessons-list-item:nth-child(2) {
  background: var(--cl-dark-green);
}

@media only screen and (min-width: 1280px) {
  .ourlessons-list-item:nth-child(2) {
    max-width: 320px;
  }
}

.ourlessons-list-item:nth-child(2) p {
  color: var(--cl-white);
}

.ourlessons-list-item:nth-child(2) .ourlessons-list-item-desc {
  color: rgba(255, 255, 255, 0.7);
}

.ourlessons-list-item:nth-child(2) .ourlessons-list-item-button {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.ourlessons-list-item:nth-child(2) .ourlessons-list-item-button:hover,
.ourlessons-list-item:nth-child(2) .ourlessons-list-item-button:focus,
.ourlessons-list-item:nth-child(2) .ourlessons-list-item-button:active {
  color: var(--cl-dark-green);
  background: var(--cl-white);
}

@media only screen and (min-width: 1280px) {
  .ourlessons-list-item {
    max-width: 320px;
  }
}

.ourlessons-list-item-header {
  color: var(--cl-dark);
  text-align: center;
  font-size: 20px;
  font-weight: var(--weight-bold);
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin-bottom: var(--indent-4);
}

.ourlessons-list-item-price {
  color: var(--cl-dark);
  text-align: center;
  font-size: 32px;
  font-weight: var(--weight-bold);
  line-height: 1.125;
  letter-spacing: -0.02em;
  margin-bottom: var(--indent-10);
}

@media only screen and (min-width: 768px) {
  .ourlessons-list-item-price {
    line-height: 1.375;
    margin-bottom: var(--indent-8);
  }
}

@media only screen and (min-width: 1280px) {
  .ourlessons-list-item-price {
    margin-bottom: var(--indent-4);
  }
}

.ourlessons-desc-wrapper {
  margin-bottom: var(--indent-5);
  max-width: 295px;
  min-height: 132px;
}

@media only screen and (min-width: 768px) {
  .ourlessons-desc-wrapper {
    margin-bottom: var(--indent-8);
  }
}

@media only screen and (min-width: 1280px) {
  .ourlessons-desc-wrapper {
    min-height: 148px;
  }
}

.ourlessons-list-item-desc {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .ourlessons-list-item-desc {
    font-size: 16px;
    line-height: 1.5;
  }
}

.ourlessons-list-item-button {
  min-width: 140px;
  width: 100%;
}
